/* ------ Global Reset ------- */
@import "normalize.css";

/* ----- Branding & Image Replacement ------ */
h1 {
	background-image:url('../images/border.jpg');
	border-radius:10px;
	box-shadow:0px 5px 5px rgba(0,0,0,0.7);
	width:300px;
	height:100px;
	margin:20px auto;
	padding:4px;
}
h1 a {
	display:block;
	border-radius:6px;
	width:300px;
	height:100px;
	background-image:url('../images/logo.jpg');
	text-indent:-9999px;
}


/* ------ Navigation Styles ----- */
nav {
	background-image:url('../images/border.jpg');
	border-radius:10px;
	box-shadow:0px 5px 5px rgba(0,0,0,0.7);
	margin-bottom:20px;
	padding:4px;
	font-family: 'Macondo Swash Caps', cursive;
	font-size:22px;
	line-height:48px;
	font-weight:bold;
	
}

nav div {
	background-image:url('../images/bg_paper.jpg');
	border-radius:6px;
	padding:0px 14px;
	overflow:hidden;
}

nav ul {
	display:inline;
	margin:0px;
	padding:0px;
	list-style:none;
	overflow:hidden;
}

nav li {
	float:left;
	margin-right:20px;
}

nav a {
	text-decoration:none;
	color:#000;
}

nav a:hover {
	color:#00d;
}

nav form {
	float:right;
}

nav input[type='text'] {
	margin-right:5px;
	border:1px solid #000;
	text-align:center;
	font-family: 'Inder', sans-serif;
	font-size:16px;
	line-height:26px;
	color:#777;
}

nav input[type='submit'] {
	font-weight:bold;
	border:1px solid #000;
	border-radius:5px;
}

/* ----- Global Styles ----- */
body {
	background-color:#000;
	background-image:url('../images/bg_main.jpg');
	background-position:center top;
	background-repeat:repeat-y;
	width:960px;
	margin:0px auto;
	font-family: 'Inder', sans-serif;
	font-size:16px;
	line-height:1.4;
}

article {
	background-image:url('../images/border.jpg');
	border-radius:10px;
	box-shadow:0px 5px 5px rgba(0,0,0,0.7);
	padding:4px;
	margin-bottom:20px;
}

section {
	background-image:url('../images/bg_paper.jpg');
	border-radius:6px;
	padding:0px 14px;
	overflow:hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Macondo Swash Caps', cursive;
	text-align:center;
}

h2 {
	margin:0px;
	padding:10px 0px 15px;
	font-size:30px;
}

p {
	margin:0px;
	padding:0px 0px 24px;
}

label {
	display:inline-block;
	width:75px;
	text-align:right;
	margin-right:4px;
	margin-bottom:10px;
}


fieldset {
	border:2px solid #000;
	border-radius:10px;
}

legend {
	padding:0px 10px;
}

hr {
	border:1px solid #000;
}

.right {
	float:right;
}

/* ----- Page Specific - Home ----- */
#home_cta {
	width:304px;
	float:right;
}

#home_cta  section{
	padding-bottom:20px;
}

#home_cta ul {
	margin:0px 0px 36px;
}

#home_cta input {
	display:block;
	width:260px;
	height:58px;
	border:2px solid #000;
	margin:0px auto;
	background-color:#007852;
	background: -webkit-gradient(linear, left top, left bottom, from(#00c083), to(#007852));
	background: -moz-linear-gradient(top,  #00c083,  #007852);
	font-family: 'Macondo Swash Caps', cursive;
	font-size:30px;
	font-weight:bold;
	border-radius:10px;
}

#home_welcome {
	width:614px;
}

#home_toprated section {
	overflow:hidden;
	height:250px;

}

#home_toprated ul {
	display:block;
	margin:0px -14px 0px -12px;
	padding:0px;
	list-style:none;
}

#home_toprated li {
	float:left;
	padding:0px 11px 27px 11px;
}

#home_toprated img {
	display:block;
	border-radius:20px;
}

/* ----- Page Specifi - Cards ----- */
#cards section {
	overflow:hidden;
}

#cards_form {
	display:block;
	overflow:hidden;
	width:565px;
}

#cards_form .form_column {
	display:inline-block;
	width:280px;
}

#cards_form input[type='text'] {
	width:184px;
}

#cards_form input[type='text'].small {
	width:107px;
}

#cards_form select {
	margin-left:-5px;
	width:188px;
}

#cards_form select.small {
	width:72px;
}

#cards_form label.small {
	width:65px;
}

#cards_form label.smaller {
	width:45px;
}

#cards_form input[type='submit'] {
	margin:0px 12px 0px 20px;
}

#cards fieldset {
	width:330px;
	float:right;
}

#cards #results {
	display:block;
	margin:20px -14px 0px -12px;
	padding:0px;
	list-style:none;
}

#cards #results li {
	float:left;
	padding:0px 11px 27px 11px;
}

#cards #results img {
	display:block;
	border-radius:20px;
}

/* ----- Page Specific - Card View ----- */

#card_image {
	float:left;
	width:50%;
	text-align:right;
}

#card_image img {
	border-radius:20px;
	margin-right:5px;
}

#card_info {
	float:left;
	width:50%;
}

#card_info table, #card_info fieldset {
	margin-left:5px;
}

#card_info .label {
	padding-right:5px;
	text-align:right;
}

/* ----- Media Queries ----- */

@media screen and (max-width:959px){
	body {
		width:100%;
	}
	
	#home_cta {
		width:31.6666%;
	}
	
	#home_cta input {
		width:85.5263%;
	}
	
	#home_welcome {
		width:63.9583%
	}
	
	#cards_form {
		margin:0px auto;
	}
	
	#cards fieldset {
		display:none;
	}
}

@media screen and (max-width:790px){
	#home_cta {
		float:none;
		width:auto;
	}
	
	#home_cta input {
		width:260px;
	}
	
	#home_welcome {
		float:none;
		width:auto;
	}
}

@media screen and (max-width:746px){
	nav form {
		float:none;
		clear:both;
		text-align:center;
	}
	
	nav ul {
		display:block;
		overflow:hidden;
		text-align:center;
	}
	
	nav li {
		float:none;
		display:inline-block;
	}
	
	nav li {
		margin:0px 10px;
	}
	
	#nav_divide {
		display:none;
	}
}

@media screen and (max-width:593px){
	#cards_form {
		width:100%;
	}
	
	#cards_form .form_column {
		display:block;
		margin:0px auto;
	}
}

@media screen and (max-width:320px){
	body {
		width:320px;
	}
}


